<div class="sl-app__shell">
	<header class="sl-topbar" hidden>
		<div class="sl-topbar__brand">
			<img class="sl-topbar__mark" src="../assets/images/sliced_256.png" alt="" width="24" height="24" />
			<span class="sl-topbar__wordmark sl-type-title"></span>
		</div>
		<div class="sl-topbar__status"></div>
		<div class="sl-topbar__switch"></div>
	</header>
	<div class="sl-app__banner"></div>
	<div class="sl-app__content sl-scroll"></div>
	<div class="sl-app__toasts"></div>
	<div class="sl-app__overlay"></div>
	<div class="sl-app__live"></div>
</div>
